Diagnostics:
  ClangTidy:
    Add: ['bugprone-*', 'modernize-*', 'performance-*', 'readability-*', 'misc-*', 'clang-analyzer-*']
    CheckOptions:
      readability-identifier-length.MinimumVariableNameLength: 2
      readability-identifier-length.MinimumParameterNameLength: 2
      readability-magic-numbers.IgnorePowersOf2IntegerValues: true
    Remove: [
      'bugprone-easily-swappable-parameters',
      # 'readability-identifier-length',
      # 'readability-magic-numbers',
      # 'readability-function-cognitive-complexity',
      # 'misc-unused-parameters',
      # 'modernize-macro-to-enum',
    ]
  UnusedIncludes: Strict
CompileFlags:
  Add: -ferror-limit=0
